<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>  
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Alex Brush' rel= 'stylesheet'> 
	

	<a href="{% url 'home' %}">Home</a>
	<h1> data deleted</h1>  
	
<script type ="text/javascript">
   {% if messages %} 
		{% for message in messages %} 
  			 swal("{{message}}");
   		{% endfor %} 
   {% endif %} 
</script> 

</body>
</html>