<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<a href="{% url 'create' %}">CREATE</a><br>
<a href="{% url 'login' %}">Login</a><br>
<a href="{% url 'logout' %}">Logout</a><br>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Rool No</th> 
        <th>images</th>
      </tr>
    </thead>
    <tbody>
      {% for i in dyna %}     
      <tr class="danger">
        <td>{{i.id}}</td>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.roll_no}}</td> 
        <td>{{i.images}}</td>
        <td><a href="{% url 'read' i.id %}">Read</a></td>   <!-- /app/read/1 -->
        <td><a href="{% url 'update' i.id %}">update</a></td>   <!--  /app/update/1 -->
        <td><a href="{% url 'delete' i.id %}">delete</a></td> <!-- /app/read/1 -->
      </tr>
      {% endfor %}

      {% for i in dynamic %}     
      <tr class="danger">
        <td>{{i.id}}</td>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.roll_no}}</td> 
         
        <td><a href="{% url 'read' i.id %}">Read</a></td>   <!-- /app/read/1 -->
        <td><a href="{% url 'update' i.id %}">update</a></td>   <!--  /app/update/1 -->
        <td><a href="{% url 'delete' i.id %}">delete</a></td> <!-- /app/read/1 -->
      </tr>
      {% endfor %}


    </tbody>
  </table>
</div>   

	
<script type ="text/javascript">
   {% if messages %} 
		{% for message in messages %} 
  			 swal("{{message}}");
   		{% endfor %} 
   {% endif %} 
</script> 


</body>
</html>

